.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px var(--horizontal-space) 10px;
  margin-bottom: 15px;
}

.screen-header__title {
  margin-top: 15px;
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  display: inline-block;
}
.screen-header-cog__dot {
  position: relative;
}

@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotatecog 1s linear infinite;
}
